:root {
	--purple: rgb(59, 6, 107);
	--purple-hover: rgb(194, 106, 194);
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style-type: none;
}

body {
	font-size: 2rem;
	color: black;
	margin: 0;
	padding: 0;
	line-height: 3rem;
}

header {
	margin: 20px 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header a {
	color: rgb(194, 106, 194);
}

.start-btn {
	text-align: left;
	font-size: 2rem;
	text-decoration: none;
	border: none;
	border-radius: 0.5em;
	background-color: var(--purple);
	color: white;
	padding: 0.35em 1em;
}

.start-btn:hover {
	background-color: var(--purple-hover);
}

.main {
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.intro {
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 2rem;
}

.question {
	font-size: 3rem;
}

.question-section {
	display: none;
	font-weight: bold;
	text-align: center;
}

.question-section ul {
	display: flex;
	flex-direction: column;
	line-height: 5rem;
}

.question-section ul a {
	padding: 0.5rem 2rem;
	text-align: left;
	background-color: var(--purple);
	color: white;
	border-radius: 1.5rem;
	margin: 1rem;
	justify-content: flex-start;
	align-items: center;
}

.question-section ul a:hover {
	background-color: var(--purple-hover);
}

.score-screen {
	font-size: 4rem;
	display: none;
	font-weight: bold;
}
